@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h2>Studentenhuis Meals</h2>
    <p>
        For the past 15 years, Studentenhuis Meals has been at the core of student’s self-made meals, creating carefully curated content to help students find the latest and greatest meals. Whether you’re looking for a meal based on cuisine or price, you’ll be able to find the best options here.
    </p>
    <p>
        You will need a student account to be able to join or create a meal yourself if you wish to serve it on a specific day.
    </p>
</div>